
@{
    ViewBag.Title = "Signature Detection";
}

<h2>Signature Detection</h2>

<div>
    @using (Html.BeginForm("DetectMark", "Detection", FormMethod.Post,
                                                 new { enctype = "multipart/form-data" }))
    {
        <label for="file">Select Image for Signature Detection:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />

        <button type="submit" class="submit">Run Signature Detection</button>
    }
</div>
<div>
    <text style="@ViewBag.Hidden">Image belongs to: {@ViewBag.UserName</text>
    <text style="@ViewBag.Hidden">Image Number: {@ViewBag.ImageNumber}</text>
</div>
