@model DocFingerPrinterBeta.ViewModels.ArchiveViewModel
@{
    ViewBag.Title = "Archives";
}

<h2>Archive of Image Records</h2>

@foreach (var image in Model.Record)
{
    <p>@image.Filename  @image.User.UserName</p>
}