
@{
    ViewBag.Title = "FileUpload";
}

<h2>File Upload</h2>

<div>
    @using (Html.BeginForm("FileUpload", "ImageUpload", FormMethod.Post,
                                 new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;" />
                <form action="">
                    <input type="radio" name="position" value="0" /> Top Left<br />
                    <input type="radio" name="position" value="1" /> Top Right<br />
                    <input type="radio" name="position" value="2" /> Bottom Left<br />
                    <input type="radio" name="position" value="3" /> Bottom Right<br />
                    <input type="radio" name="position" value="4" /> Center<br />
                </form>
                <input type="submit" value="Upload" class="submit" />
    }
</div>
<div>
    <a href="@ViewBag.Link" style="@ViewBag.Hidden">Download Encoded Image</a>
</div>