<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	sytaxCheck="false"
>
	<testsuites>
		<testsuite name="Image Hash Page Suite">
			<directory>./test/</directory>
		</testsuite>
	</testsuites>
</phpunit>
