@model DocFingerPrinterBeta.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Users";
}

<h2>Search for users</h2>
@using (Html.BeginForm())
{
    <p>
        Username: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
    </p>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Number of uploads
            </th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.NumberOfImagesMarked
                </td>
            </tr>            
        }
    </table>
}

