<div class="jumbotron">
    <div style="text-align: center;">
        <h1>Auld Corporation</h1>
        <h2 class="lead">Image Fingerprinting</h2>
        <h4>
            Number of Users: @ViewBag.Users<br />
            Number of images marked: @ViewBag.Images<br />
        </h4>
    </div>
</div>
